In [2]:
import pandas as pd

In [3]:
stock_data=pd.read_csv('./stock.csv')
stock_values=stock_data[stock_data.symbol=='GOOG'].price.to_list()
stock_values

[102.37,
 129.6,
 190.64,
 181.98,
 192.79,
 195.62,
 187.99,
 180.51,
 220.0,
 277.27,
 294.15,
 287.76,
 286.0,
 316.46,
 372.14,
 404.91,
 414.86,
 432.66,
 362.62,
 390.0,
 417.94,
 371.82,
 419.33,
 386.6,
 378.53,
 401.9,
 476.39,
 484.81,
 460.48,
 501.5,
 449.45,
 458.16,
 471.38,
 497.91,
 522.7,
 510.0,
 515.25,
 567.27,
 707.0,
 693.0,
 691.48,
 564.3,
 471.18,
 440.47,
 574.29,
 585.8,
 526.42,
 473.75,
 463.29,
 400.52,
 359.36,
 292.96,
 307.65,
 338.53,
 337.99,
 348.06,
 395.97,
 417.23,
 421.59,
 443.05,
 461.67,
 495.85,
 536.12,
 583.0,
 619.98,
 529.94,
 526.8,
 560.19]

In [4]:
turning_points=[]
turning_pointsA=[]
turning_pointsV=[]
for i in range(1,len(stock_values)-1):
	if stock_values[i]>stock_values[i+1] and stock_values[i]>stock_values[i-1]:
		turning_points.append(stock_values[i])
		turning_pointsA.append(stock_values[i])
	if stock_values[i]<stock_values[i+1] and stock_values[i]<stock_values[i-1]:
		turning_points.append(stock_values[i])
		turning_pointsV.append(stock_values[i])
# turning_points

In [14]:
google_stock=stock_data[stock_data.symbol=='GOOG']
# google_stock['segment']=['None']*len(stock_values)
# google_stock.price == 0
dates=google_stock[google_stock.price.isin(turning_points)].date.to_list()
google_stock[google_stock.price.isin(turning_points)]

    symbol        date   price
371   GOOG  Oct 1 2004  190.64
372   GOOG  Nov 1 2004  181.98
374   GOOG  Jan 1 2005  195.62
376   GOOG  Mar 1 2005  180.51
379   GOOG  Jun 1 2005  294.15
381   GOOG  Aug 1 2005  286.00
386   GOOG  Jan 1 2006  432.66
387   GOOG  Feb 1 2006  362.62
389   GOOG  Apr 1 2006  417.94
390   GOOG  May 1 2006  371.82
391   GOOG  Jun 1 2006  419.33
393   GOOG  Aug 1 2006  378.53
396   GOOG  Nov 1 2006  484.81
397   GOOG  Dec 1 2006  460.48
398   GOOG  Jan 1 2007  501.50
399   GOOG  Feb 1 2007  449.45
403   GOOG  Jun 1 2007  522.70
404   GOOG  Jul 1 2007  510.00
407   GOOG  Oct 1 2007  707.00
412   GOOG  Mar 1 2008  440.47
414   GOOG  May 1 2008  585.80
420   GOOG  Nov 1 2008  292.96
422   GOOG  Jan 1 2009  338.53
423   GOOG  Feb 1 2009  337.99
433   GOOG  Dec 1 2009  619.98
435   GOOG  Feb 1 2010  526.80